@charset "UTF-8";

@import url(reset.css);
@import url(font.css);
@import url(style.css);
@import url(common.css);

body {font-family: 'AliceDigitalLearning';}

.hero {font-size: 0;}
.hero .text_box {width: 534px; position: absolute; top: 290px; left: 200px;}
.hero .text_box li:nth-child(1) {font-size: 34px; font-weight: bold; color: #F04155;}
.hero .text_box li:nth-child(2) {font-size: 49px; font-weight: bold; color: #3C4B6C; letter-spacing: -1%;}
.hero .text_box li:nth-child(3) {font-size: 16px; font-family: 'Pretendard'; line-height: 170%; color: #3C3C3C; margin-top: 22px;}

.hero .text_box .logo_box {width: 496px; margin-top: 50px; display: flex; justify-content: space-between; align-items: end;}
.hero .text_box .logo_box li {}
.hero .text_box .logo_box li:nth-child(1) {}
.hero .text_box .logo_box li:nth-child(2) {}
.hero .text_box .logo_box li:nth-child(3) {margin-bottom: 8px;}
.hero .text_box .logo_box li:nth-child(4) {margin-bottom: 14px;}
.hero .text_box .logo_box img {width: 100%;}




/* 섹션 */
/* 섹션1 */

.notice {width: 100%; height: 62px; background: #3c4b6c; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.notice .notice_box {width: 126px; height: 33px; background: #fff; text-align: center; line-height: 33px;}
.notice .notice_text {color: #fff; margin-left: 20px;}




section {}
section .section1 {width: 1500px; margin: 0 auto; display: flex; gap: 20px; margin-top: 130px;}
section .section1 .new {width: 475px; height: 260px;}
section .section1 .new .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .new .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .new .section_box {}
section .section1 .new .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .new .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .new .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .new .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .thanks {width: 475px; height: 260px;}
section .section1 .thanks .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .thanks .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .thanks .section_box {}
section .section1 .thanks .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .thanks .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .thanks .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .thanks .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .good {width: 475px; height: 260px;}
section .section1 .good .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .good .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .good .section_box {}
section .section1 .good .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .good .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .good .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
section .section1 .good .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section2 {width: 100%; background: #f6f6f6; margin: 0 auto; margin-top: 130px; padding: 90px 0;}
section .section2 .time_notice {width: 1500px; height: 375px; margin: 0 auto;}
section .section2 .time_notice .tnotice_text {}
section .section2 .time_notice .tnotice_text .tnotice_title {}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t {display: flex; justify-content: end;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t .tnotice_big {font-size: 22px; font-weight: bold; color: #3C4B6C; text-align: center; margin-right: 406px;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t .tnotice_small {font-size: 14px; color: #3C4B6C; text-align: center;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_section {font-size: 16px; text-align: center; color: #3C4B6C; line-height: 155%; margin-top: 15px;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_section span {font-size: 14px;}


section .section2 .time_notice .tnotice_box {margin-top: 20px;}
section .section2 .time_notice .tnotice_box .tbox {display: flex; justify-content: space-between;}
section .section2 .time_notice .tnotice_box .tbox > li {width: 468px; height: 198px; background: #fff;}
section .section2 .time_notice .tnotice_box .tbox > li > ul {}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(1) {width: 468px; height: 110px; background: #3C4B6C; color: #fff; text-align: center; padding: 20px 0; box-sizing: border-box; font-size: 18px; font-weight: bold;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(1) span {font-size: 24px; font-weight: bold; margin-top: 10px;}

section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(2) {font-size: 16px; font-weight: bold; line-height: 150%; text-align: center; margin-top: 20px;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(2) span {font-size: 16px; font-weight: bold; color: #F04155;}

section .section2 .time_notice .tnotice_box .tbox > li > ul > li.color {width: 468px; height: 110px; background: #F04155; color: #fff; text-align: center; padding: 20px 0; box-sizing: border-box; font-size: 18px; font-weight: bold;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li.color2 {color: #F04155;}




section .section3 {background: #3C4B6C url(../images/logo_pattern.png) repeat; position: relative; overflow: hidden; height: 310px;}

/* section .section3::before {content: ""; position: absolute; background: url(../images/logo_pattern.png) repeat; opacity: 0.5; mix-blend-mode: luminosity; z-index: 0; inset:  0;} */

section .section3 .box {height: 310px; display: flex; justify-content: space-between; align-items: center; width: 1500px; margin: 0 auto; position: relative; gap: 20px;}
section .section3 .box .section3_box1 {width: 742px; height: 130px; background: #fff; position: absolute; z-index: 1; border-top-right-radius: 50px;}
section .section3 .box .section3_box1 .box1_1 {width: 740px; height: 72px; background: #3C4B6C; box-shadow: 0 0 0 2px #fff; border-top-right-radius: 50px; font-size: 22px; font-weight: bold; color: #fff; padding: 20px 107px; box-sizing: border-box;}
section .section3 .box .section3_box1 .box1_2 {display: flex; justify-content: space-between; align-items: center;}
section .section3 .box .section3_box1 .box1_2 .box1_2_title {font-size: 16px; padding: 20px 107px; box-sizing: border-box; color: #3C4B6C;}
section .section3 .box .section3_box1 .box1_2 .box1_2_img {margin-right: 20px;}
section .section3 .box .section3_box1 .box1_2 .box1_2_img img {}


section .section3 .box .section3_box2 {width: 742px; height: 130px; background: #fff; position: absolute; z-index: 1; border-top-left-radius: 50px; right: 0; top: 90px;}
section .section3 .box .section3_box2 .box1_1 {width: 740px; height: 72px; background: #F04155; box-shadow: 0 0 0 2px #fff; border-top-left-radius: 50px; font-size: 22px; font-weight: bold; color: #fff; padding: 20px 107px; box-sizing: border-box; text-align: right;}
section .section3 .box .section3_box2 .box1_2 {display: flex; justify-content: space-between; align-items: center;}
section .section3 .box .section3_box2 .box1_2 .box1_2_title {font-size: 16px; padding: 20px 107px; box-sizing: border-box; color: #F04155;}
section .section3 .box .section3_box2 .box1_2 .box1_2_img {margin-left: 20px;}
section .section3 .box .section3_box2 .box1_2 .box1_2_img img {}



section .section4 {}