@charset "UTF-8";

@import url(reset.css);
@import url(font.css);
@import url(style.css);
@import url(common.css);

body {font-family: 'AliceDigitalLearning';}

.hero {font-size: 0;}
.hero .text_box {width: 534px; position: absolute; left: 11%; top: 37%;}
.hero .text_box li:nth-child(1) {font-size: 34px; font-weight: bold; color: #F04155;}
.hero .text_box li:nth-child(2) {font-size: 49px; font-weight: bold; color: #3C4B6C; letter-spacing: -1%;}
.hero .text_box li:nth-child(3) {font-size: 16px; font-family: 'Pretendard'; line-height: 170%; color: #3C3C3C; margin-top: 22px;}

.hero .text_box .logo_box {width: 496px; margin-top: 50px; display: flex; justify-content: space-between; align-items: end;}
.hero .text_box .logo_box li {}
.hero .text_box .logo_box li:nth-child(1) {}
.hero .text_box .logo_box li:nth-child(2) {}
.hero .text_box .logo_box li:nth-child(3) {margin-bottom: 8px;}
.hero .text_box .logo_box li:nth-child(4) {margin-bottom: 14px;}
.hero .text_box .logo_box img {width: 100%;}




/* 섹션 */
/* 섹션1 */

.notice {width: 100%; height: 62px; background: #3c4b6c; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.notice .notice_box {width: 126px; height: 33px; background: #fff; text-align: center; line-height: 33px;}
.notice .notice_text {color: #fff; margin-left: 20px;}




section {}
section .section1 {width: 1500px; height: 522px; margin: 0 auto; display: flex; gap: 20px; margin-top: 130px;}
section .section1 .new {width: 475px; height: 260px;}
section .section1 .new .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .new .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .new .section_box {}
section .section1 .new .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .new .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .new .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .new .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .thanks {width: 475px; height: 260px; background: lavenderblush;}
section .section1 .thanks .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .thanks .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .thanks .section_box {}
section .section1 .thanks .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .thanks .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .thanks .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .thanks .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .good {width: 475px; height: 260px; background: lightyellow;}
section .section1 .good .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .good .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .good .section_box {}
section .section1 .good .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .good .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .good .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .good .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section2 {}
section .section3 {}
section .section4 {}