@charset "UTF-8";

@import url(reset.css);
@import url(font.css);
@import url(style.css);
@import url(common.css);

body {font-family: 'AliceDigitalLearning';}

.hero {display: flex; justify-content: center; position: relative; height: 590px; font-size: 0;}
.hero .hero_img {position: absolute; overflow: hidden; width: 100%; height: 100%;}
.hero .hero_img img {animation: imgAni 2s forwards; transform: scale(105%); width: 100%; height: 100%;}
.hero .text_box {width: 534px; position: absolute; transform: translate(22%, 0); animation: textAni 2s forwards; left: 200px; top: 105px; opacity: 0;}
.hero .text_box li:nth-child(1) {font-size: 34px; font-weight: bold; color: #F04155; animation: textAni 0.5s forwards; left: 200px; position: relative; opacity: 0;}
.hero .text_box li:nth-child(2) {font-size: 49px; font-weight: bold; color: #3C4B6C; letter-spacing: -1%; animation: textAni 0.6s forwards; left: 200px; position: relative; opacity: 0;}
.hero .text_box li:nth-child(3) {font-size: 16px; font-family: 'Pretendard'; line-height: 170%; color: #3C3C3C; margin-top: 22px; position: relative; animation: textAni 0.7s forwards; left: 200px; opacity: 0;}


@keyframes imgAni {
    0% {transform: scale(105%);}
    100% {transform: scale(100%);}
}

@keyframes textAni {
    0% {left: 200px; opacity: 0;}
    100% {left: 0; opacity: 1;}
}

.hero .text_box .logo_box {width: 496px; margin-top: 50px; display: flex; justify-content: space-between; align-items: end; animation: textAni 2s forwards; position: relative; left: 200px;}
.hero .text_box .logo_box li {}
.hero .text_box .logo_box li:nth-child(1) {}
.hero .text_box .logo_box li:nth-child(2) {}
.hero .text_box .logo_box li:nth-child(3) {margin-bottom: 8px;}
.hero .text_box .logo_box li:nth-child(4) {margin-bottom: 14px;}
.hero .text_box .logo_box img {width: 100%;}




/* 섹션 */
/* 섹션1 */

.notice {width: 1920px; height: 62px; background: #3c4b6c; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.notice .notice_box {width: 126px; height: 33px; background: #fff; text-align: center; line-height: 33px;}
.notice .notice_text {color: #fff; margin-left: 20px;}




section {}
section .section1 {width: 1500px; margin: 0 auto; display: flex; gap: 20px; margin-top: 130px;}
section .section1 .new {width: 475px; height: 260px;}
section .section1 .new .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .new .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .new .section_box {}
section .section1 .new .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .new .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .new .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .new .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .thanks {width: 475px; height: 260px;}
section .section1 .thanks .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .thanks .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .thanks .section_box {}
section .section1 .thanks .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .thanks .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .thanks .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block;}
section .section1 .thanks .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section1 .good {width: 475px; height: 260px;}
section .section1 .good .title_box {display: flex; justify-content: space-between; align-items: center;}
section .section1 .good .title_box .section_title {font-size: 20px; font-weight: bold;}


section .section1 .good .section_box {}
section .section1 .good .section_box .contents_box {display: flex; justify-content: space-between; flex-wrap: wrap;}
section .section1 .good .section_box .contents_box .cob {display: flex; justify-content: space-between; gap: 30px; border-bottom: 1px solid #364C7C;}
section .section1 .good .section_box .contents_box .cob .contents_title {width: 348px; font-size: 16px; font-family: 'Pretendard'; margin: 15px 0 15px 0; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
section .section1 .good .section_box .contents_box .cob .contents_date {font-size: 16px; font-weight: 500; font-family: 'Pretendard'; margin: 15px 0 15px 0; width: 90px;}


section .section2 {width: 1920px; background: #f6f6f6; margin: 0 auto; margin-top: 130px; padding: 90px 0;}
section .section2 .time_notice {width: 1500px; height: 375px; margin: 0 auto;}
section .section2 .time_notice .tnotice_text {}
section .section2 .time_notice .tnotice_text .tnotice_title {}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t {display: flex; justify-content: end;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t .tnotice_big {font-size: 22px; font-weight: bold; color: #3C4B6C; text-align: center; margin-right: 406px;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_t .tnotice_small {font-size: 14px; color: #3C4B6C; text-align: center;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_section {font-size: 16px; text-align: center; color: #3C4B6C; line-height: 155%; margin-top: 15px;}
section .section2 .time_notice .tnotice_text .tnotice_title .tnotice_section span {font-size: 14px;}


section .section2 .time_notice .tnotice_box {margin-top: 20px;}
section .section2 .time_notice .tnotice_box .tbox {display: flex; justify-content: space-between;}
section .section2 .time_notice .tnotice_box .tbox > li {width: 468px; height: 198px; background: #fff;}
section .section2 .time_notice .tnotice_box .tbox > li > ul {}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(1) {width: 468px; height: 110px; background: #3C4B6C; color: #fff; text-align: center; padding: 20px 0; box-sizing: border-box; font-size: 18px; font-weight: bold;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(1) span {font-size: 24px; font-weight: bold; margin-top: 10px;}

section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(2) {font-size: 16px; font-weight: bold; line-height: 150%; text-align: center; margin-top: 20px;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li:nth-child(2) span {font-size: 16px; font-weight: bold; color: #F04155;}

section .section2 .time_notice .tnotice_box .tbox > li > ul > li.color {width: 468px; height: 110px; background: #F04155; color: #fff; text-align: center; padding: 20px 0; box-sizing: border-box; font-size: 18px; font-weight: bold;}
section .section2 .time_notice .tnotice_box .tbox > li > ul > li.color2 {color: #F04155;}



/* 섹션3 */
section .section3 {background: #3C4B6C url(../images/logo_pattern.png) repeat; position: relative; overflow: hidden; height: 310px; width: 1920px; margin: 0 auto;}

/* section .section3::before {content: ""; position: absolute; background: url(../images/logo_pattern.png) repeat; opacity: 0.5; mix-blend-mode: luminosity; z-index: 0; inset:  0;} */

section .section3 .box {height: 310px; display: flex; justify-content: space-between; align-items: center; width: 1500px; margin: 0 auto; position: relative; gap: 20px;}
section .section3 .box .section3_box1 {width: 742px; height: 130px; background: #fff; position: absolute; z-index: 1; border-top-right-radius: 50px;}
section .section3 .box .section3_box1 .box1_1 {width: 740px; height: 72px; background: #3C4B6C; box-shadow: 0 0 0 2px #fff; border-top-right-radius: 50px; font-size: 22px; font-weight: bold; color: #fff; padding: 20px 107px; box-sizing: border-box;}
section .section3 .box .section3_box1 .box1_2 {display: flex; justify-content: space-between; align-items: center;}
section .section3 .box .section3_box1 .box1_2 .box1_2_title {font-size: 16px; padding: 20px 107px; box-sizing: border-box; color: #3C4B6C;}
section .section3 .box .section3_box1 .box1_2 .box1_2_img {margin-right: 20px;}
section .section3 .box .section3_box1 .box1_2 .box1_2_img img {}


section .section3 .box .section3_box2 {width: 742px; height: 130px; background: #fff; position: absolute; z-index: 1; border-top-left-radius: 50px; right: 0; top: 90px;}
section .section3 .box .section3_box2 .box1_1 {width: 740px; height: 72px; background: #F04155; box-shadow: 0 0 0 2px #fff; border-top-left-radius: 50px; font-size: 22px; font-weight: bold; color: #fff; padding: 20px 107px; box-sizing: border-box; text-align: right;}
section .section3 .box .section3_box2 .box1_2 {display: flex; justify-content: space-between; align-items: center;}
section .section3 .box .section3_box2 .box1_2 .box1_2_title {font-size: 16px; padding: 20px 107px; box-sizing: border-box; color: #F04155;}
section .section3 .box .section3_box2 .box1_2 .box1_2_img {margin-left: 20px;}
section .section3 .box .section3_box2 .box1_2 .box1_2_img img {}


/* 섹션4 */
section .section4 {width: 1920px; margin: 0 auto; margin-bottom: 130px;}
section .section4 .imagemap {width: 1500px; height: 628px; margin: 0 auto; margin-top: 130px;}
section .section4 .imagemap .imagemap_title {width: 1500px; height: 62px; background: #3C4B6C; font-size: 22px; font-weight: bold; color: #fff; text-align: center; line-height: 62px;}
section .section4 .imagemap .imagemap_section {width: 1500px; height: 545px; margin-top: 20px;}
section .section4 .imagemap .imagemap_section .imagemap_section1 {width: 1500px; height: 360px; display: flex; gap: 20px; overflow: hidden;}


section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top {width: 487px; height: 360px; position: relative;}

section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top .imagemap_top1 {overflow: hidden;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top .imagemap_top1 img {transition: 0.5s;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top .imagemap_top1:hover img {transform: scale(110%);}


section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 {}

section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right {width: 993px; height: 192px; position: relative; overflow: hidden;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right .imagemap_right1-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right .imagemap_right1-1 img {transition: 0.5s;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right .imagemap_right1-1:hover img {transform: scale(110%);}

section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox {width: 993px; height: 149px; display: flex; justify-content: space-between; margin-top: 20px;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right2 {position: relative; overflow: hidden;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right2 .imagemap_right2-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right2 .imagemap_right2-1 img {transform: 0.5s;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right2 .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_top2 .imagemap_right2 .imagemap_right2-1:hover img {transform: scale(110%);}

section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right3 {position: relative;}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right3 .imagemap_right3-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right3 .imagemap_right3-1 img {}
section .section4 .imagemap .imagemap_section .imagemap_section1 .imagemap_rightbox .imagemap_right3 .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section2 {margin-top: 20px; display: flex; gap: 20px;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom {position: relative;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom1-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom1-1 img {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section2 {margin-top: 20px; display: flex; gap: 20px;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom2 {position: relative;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom2-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom2-1 img {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom2 .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}


section .section4 .imagemap .imagemap_section .imagemap_section2 {margin-top: 20px; display: flex; gap: 20px;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom3 {position: relative;}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom3-1 {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom3-1 img {}
section .section4 .imagemap .imagemap_section .imagemap_section2 .imagemap_bottom3 .imagemap_t {position: absolute; top: 30px; left: 30px; font-size: 20px; font-weight: bold; color: #fff; line-height: 150%;}
/* 섹션4 */


/* 푸터 */
footer {width: 100%; background: #525252; padding: 50px 0px;}
footer .footer_inbox {display: flex; justify-content: center; align-items: center; margin: 0 auto;}
footer .footer_inbox .footer_box {display: flex; justify-content: space-between; width: 1500px;}
footer .footer_inbox .footer_box .footer_box1 {}
footer .footer_inbox .footer_box .footer_box1 .info {}
footer .footer_inbox .footer_box .footer_box1 .info ul {display: flex; gap: 20px;}
footer .footer_inbox .footer_box .footer_box1 .info ul li {color: #d2d2d2; font-family: 'Pretendard'; font-size: 14px;}

footer .footer_inbox .footer_box .footer_box1 .info2 {color: #a7a7a7; font-family: 'Pretendard'; font-size: 14px; margin-top: 20px; line-height: 170%;}
footer .footer_inbox .footer_box .footer_box1 .copyright {color: #a7a7a7; font-family: 'Pretendard'; font-size: 14px; margin-top: 20px;}


footer .footer_inbox .footer_box .footer_box2 {}
footer .footer_inbox .footer_box .footer_box2 .footer_iconbox {width: 136px; height: 20px; display: flex; justify-content: center; align-items: center; gap: 20px;}
footer .footer_inbox .footer_box .footer_box2 .footer_logo {margin-top: 145px;}
























































/* sub1 css */
.sub1 .hero {display: flex; justify-content: center; position: relative; height: 346px; font-size: 0;}
.sub1 .hero .hero_img {position: absolute; overflow: hidden; width: 100%; height: 100%;}
.sub1 .hero .hero_img img {animation: imgAni 2s forwards; transform: scale(105%); width: 100%; height: 100%;}
.sub1 .hero .text_box {width: 534px; position: absolute; transform: translate(22%, 0); animation: textAni 2s forwards; left: 200px; top: 105px; opacity: 0;}
.sub1 .hero .text_box li:nth-child(1) {font-size: 34px; font-weight: bold; color: #F04155; animation: textAni 0.5s forwards; left: 200px; position: relative; opacity: 0;}
.sub1 .hero .text_box li:nth-child(2) {font-size: 49px; font-weight: bold; color: #3C4B6C; letter-spacing: -1%; animation: textAni 0.6s forwards; left: 200px; position: relative; opacity: 0;}
.sub1 .hero .text_box li:nth-child(3) {font-size: 16px; font-family: 'Pretendard'; line-height: 170%; color: #3C3C3C; margin-top: 22px; position: relative; animation: textAni 0.7s forwards; left: 200px; opacity: 0;}


@keyframes imgAni {
    0% {transform: scale(105%);}
    100% {transform: scale(100%);}
}

@keyframes textAni {
    0% {left: 200px; opacity: 0;}
    100% {left: 0; opacity: 1;}
}